### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Ignorar carpeta de configuración de IntelliJ IDEA
.idea/

# Ignorar carpeta de tests
testDirectoryList/

# Ignorar archivo de salida
output.txt

# Ignorar archivos de configuración del sistema
desktop.ini

# Ignorar cualquier archivo gitignore adicional
.gitignore

S1.05 - Java Utils - Level 1 and 2 - Christopher.iml

S1.05_Java_Utils_Level1_2.iml
